{% extends "admin/admin_dashboard.html" %}
{% block content %}


<div style="width: 58rem;">
    <div class="card card-stats">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-7">
                    <h2>{{content.title}}</h2>
                    <p class="text-justify">{{content.content}}</p>
                    <h4>Summary</h4>
                    <p class="text-justify">{{content.summary}}</p>
                    <a href="{{content.content_url}}" class="badge-primary p-1">Click</a>
                    <a href="{{content.img_url}}" class="badge-success p-1">Check</a>
                </div>

                <div class="col-lg-3">
                    {% if content.img %}
                    <img src="" class="img-responsive img-thumbnail">
                    {% else %}
                    <h5 class="btn btn-danger mt-5">No Image</h5>
                    {% endif %}
                </div>

            </div>
           
        </div>
    </div>
</div>



{% endblock %}