{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
   
  </title>
  <!-- Favicon -->

  

  <link href="{% static 'assets/img/brand/favicon.png' %}" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{% static 'assets/js/plugins/nucleo/css/nucleo.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css'%}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static 'assets/css/argon-dashboard.css'%}" rel="stylesheet" />


</head>

  
{% block content %}






{% endblock %}


 <!--   Core   -->
 <script src="./assets/js/plugins/jquery/dist/jquery.min.js"></script>
 <script src="./assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 <!--   Optional JS   -->
 <script src="./assets/js/plugins/chart.js/dist/Chart.min.js"></script>
 <script src="./assets/js/plugins/chart.js/dist/Chart.extension.js"></script>
 <!--   Argon JS   -->
 <script src="./assets/js/argon-dashboard.min.js?v=1.1.1"></script>
 <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
 <script>
   window.TrackJS &&
     TrackJS.install({
       token: "ee6fab19c5a04ac1a32a645abde4613a",
       application: "argon-dashboard-free"
     });
 </script>
</body>

</html>